.banner {
	text-align: center;
}

.banner img{
	margin: 45px;
	width: 30%;
}

.title {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 0px;
}

.list {
	margin: 150px;
	margin-top: 0px;
	margin-bottom: 100px;
}

body p span {

	color: white;
	margin-left: 300px;
	
}

body p {
	padding-top: 3px;
	padding-bottom: 25px;
	font-size: 20px;
	margin-left: 150px;
	margin-right: 150px;
	text-align: justify;
	line-height: 38px;
}


.list button{
	text-decoration: none;
	color: white;
	padding: 10px;
	font-size: 20px;
}

.list ul {
	list-style: none;
	

}

.list ul li {
	transition: 0.6s;
	font-size: 17px;
}

.sub {
	padding-top: 5px;
	margin-left: 150px;
}

footer {
	text-align: center;
	margin: 10px;
}

button{border:none;}

button:hover {border: none; font-size: 21px; transition: 0.3s; color:#51ffef;}

button:focus {color:blue; color: orange;}

button:active {color: darkorange;}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #00ff00;
  padding: 10px 35px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #00ff00; color: black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}



